/*navbar*/
nav {
    background-color: black;
    display:flex;
    justify-content: space-around;
    padding: 2% 0%;
    margin-bottom: 20px;
}
nav a {
    color:white;
    text-decoration: none;

    
}
nav a:hover {
    text-decoration: underline;
}

/*general formatting*/
body {

  font-family: 'Slabo 27px', serif;
  text-align: center;
  padding: 5px 25px 5px 25px;
  font-size: 18px;
  margin: 0;
  background: black;
  color:white;
}

h1 {
  font-size: 32px;
}

a {
    color:#E3BAC6;
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
}

/*flexbox*/
.goldroom, .joshwink, .oliverheldens {
    display: flex;
    align-items:center;
}
.goldroomimg, .joshwinkimg, .oliverheldensimg {
    width: 50%;
    padding: 5%;
}

/*footer contact bar*/
.contact {
  color:white;
  background: #596475;
        bottom:0;
    width:100%;

  }
.contact a:link {
  color:white;
  
}
.contact a:visited {
  color:white;
}
.contact a:hover {
  color:aliceblue;
}


